<h1>Data Artikel</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Judul</th>
      <th>Konten</th>
      <th>Tanggal Dibuat</th>
      <th>Tanggal Dirubah</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><?php echo $artikel['Artikel']['id']; ?></td>
        <td><?php echo $artikel['Artikel']['judul']; ?></td>
        <td><?php echo $artikel['Artikel']['konten']; ?></td>
        <td><?php echo $artikel['Artikel']['created']; ?></td>
        <td><?php echo $artikel['Artikel']['modified']; ?></td>
      </tr>
  </tbody>
</table>

 <?php echo $this->Html->link('Home',array('action'=>'index')) ?>